*{
    padding: 0;
    margin: 0;
}
#header{
    height: 750px;
    width: 100%;
    background-image: url(netflixbg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}  

/** PANEL-----1----- **/

#panel1{
    height: 45px;
    width: 100%;
    padding: 24px 32px 24px 32px;
    display: flex;
    align-items: center;
}
#logo-part{
    height: 40px;
    width: 300px;
    margin: 8px 0px 0px 16px;
}
#eng-part{
    height: 32px;
    width: 70%;
    margin-right: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#eng-part select{
    height: 32px;
    width: 120px;
    padding: 6px 36px 6px 36px;
    background-color: transparent;
    color: black;
}
#eng-part a{
    height: 32px;
    width: 75px;
    background-color: red;
    margin-left: 20px;
    border-radius: 10%;
}
.logo{
    background-image: url(Logonetflix.png);
    background-size: cover;
    height: 40px;
    width: 150px;
}


/** PANEL-----2----- **/

#panel2{
    height: 240px;
    width: 910px;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#panel2 h1{
    font-size: 48px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#panel2 p{
    font-size: 24px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 16px;
}

#panel form{
    height: 100px;
    width: 845px;
    background-color: green;
}

#panel2 form h3{
    font-size: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

#input{
    height: 56px;
    width: 370px;
    color: white;
    font-size: 15px;
    background-color:black;
    visibility: 0.1;
}
#button1{
    height: 56px;
    width: 203px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
#last{
    height: 56px;
    width: 586px;
    margin: 16px 128px 0px 128px;
}


/**page2**/



#page-2{
    height: 500px;
    width: 100%;
    background-color: black;
    padding: 72px 0px 72px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#part-2a{
    width:950px;
    height: 355px;
    margin: 0px 32px 0px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part-2aa{
    height: 194px;
    width: 475px;
    padding: 0px 6px 0px 0px;
}
#image{
    height: 350px;
    width: 470px;
    background-image: url(tv.png);
    background-size: cover;
}
#part-2aa h2{
    font-size: 48px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
#part-2aa p{
    font-size: 24px;
    color: #ffffff;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#image2{
    height: 350px;
    width: 470px;
    background-image: url(mobile-0819.jpg);
    background-size: cover;
}
#image3{
    height: 350px;
    width: 470px;
    background-image: url(device-pile-in.png);
    background-size: cover;
}
#image4{
    height: 350px;
    width: 470px;
    background-image: url(kids.png);
    background-size: cover;
}
/** second lAST PART **/

#sec-last{
    height: 1010px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
    padding: 72px 0px 72px 0px;
}
#lasta h1{
    color: #ffffff;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}
#lasta button{
    height: 85px;
    width: 90%;
    padding: 24px;
    margin-top: 10px;

}
.fa-solid {
    color: black;
    font-size: 24px;
}
.but{
    font-size: 24px;
    font-weight: 600;
}
#lasta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#checkbox{
    height: 100px;
    width: 85%;
    background-color: grey;
    padding: 0px 32px 0px 32px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#checkbox h3{
    font-size: 20px;
}
.input{
    height: 56px;
    width: 370px;
    padding: 24px 16pox 8px 16px;

}
#checkbox button{
    height: 56px;
    width: 203px;
    background-color: red;

}
#lasta button{
    color: grey;
}